.svg-star {
    fill: #c0c0c0
}

.svg-star-yellow {
    fill: #ED8A19;
}

.svg-star path:hover{
    cursor: pointer;
    filter: brightness(70%)
}



.search-result {
    padding: 5px 5px;
}

.search-result:hover {
    background-color: #efefef;
}

.results-list {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 10px;
    max-height: 130px;
    overflow-y: auto;
}


.create-add-item {
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

.add-single-item {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.zutat-add-item {
    align-items: center;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 10% 10% auto 56px;
}

.zutaten-add {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 10% 10% auto 56px;
}

.zutaten-add-list {
    position: absolute;
}

@media only screen and (max-width: 768px) {
    .zutaten-add {
        grid-template-columns: 15% 25% auto 56px;
    }
    .zutat-add-item {
        grid-template-columns: 15% 25% auto 56px;
    }
}