.svg-star {
    fill: #c0c0c0
}

.svg-star-yellow {
    fill: #ED8A19;
}

.svg-star-click path:hover{
    cursor: pointer;
    filter: brightness(70%)
}



.search-result {
    padding: 5px 5px;
}

.search-result:hover {
    background-color: #efefef;
}

.results-list {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 10px;
    max-height: 130px;
    overflow-y: auto;
}


.create-add-item {
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

.add-single-item {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.zutat-add-item {
    align-items: center;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 10% 10% auto 56px;
}

.zutaten-add {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 10% 10% auto 56px;
}

.zutaten-add-list {
    position: absolute;
}


.rezept-wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
}

.rezept-anleitung {
    display: flex;
    flex-direction: column;
}

.rezept-zutaten {
    display: grid;
    grid-template-columns: 15% 25% auto;
}

.rezept-zutaten span {
    padding: 0 0.25rem;
}

.rezept-tags {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

.rezept-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.wrapper {
    max-height: 70vh;
    overflow-y: auto;
}

.tag-add {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 60% 40%;
}

.rezept-container {
    max-width: 1000px;
}

.filter-select-zutaten {
    max-height: 30vh;
    overflow-y: scroll;
}

.filter-select-tags {
    max-height: 25vh;
    overflow-y: scroll;
}

.filter-wrapper {
    display: grid;
    grid-template-columns: 20% 10% auto 30%;
    column-gap: 5px;

}

@media only screen and (max-width: 768px) {
    .zutaten-add {
        grid-template-columns: 15% 25% auto 56px;
    }
    .zutat-add-item {
        grid-template-columns: 15% 25% auto 56px;
    }
    .tag-add {
        grid-template-columns: 70% 30%;
    }
    .rezept-wrapper {
        display: flex;
        flex-direction: column;
    }
}